/*
This css class is used to style the header area and includes 
a media query for screen size larger than 1024px
 */

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  flex-wrap: wrap;
  height: 400px;
  margin-top: 100px;
  background-color: #4056A1;
}

.header-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;

}

.user {
  color: white;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  align-content: center;
}

/* For Screen size 768 and above*/
@media screen and (min-width: 1024px) {
  .header-main {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
  }
   .header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 0, 128);
    background-image: url("../images/binding-light.png");
    margin-left: 15px;
    margin-top: 160px;
    width: 100%;
  }

  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    align-content: center;
  }

 }

