/* applys for the title, the textarea, label, 
button and counter*/

.new-tweet {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  align-items: flex-start;
  flex-direction: column;
  width: 90%;
}

.tweet-text {

  display: flex;
  justify-content:flex-start;
  align-items:flex-start;
  background-color: transparent;
  width: 100%;
  height: 30px;
  /*border:;*/
  resize: none;
  outline: none;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}

.errormsg {
  color: red;
  font-weight: bold;
}

#counter {
  display: flex;
  justify-content: left;
  align-items: flex-start;
}


.label {
  border: transparent;
}
.tweet-form{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.under-label {
  display:flex;
  width: 100%;
  justify-content: space-between;
}

#tweet-button {
  
  width: 100px;
  height: 50px;
  background-color: royalblue;
  font-family: 'Bungee';
  color: white;
  border: none;
}


