/* .tweet-container {
  border:solid;
  border:black;
} */
.tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:3em;
  width: 90%;
}

.user {
  display: flex;
  justify-content: space-between;

}

.user-details {
  display: flex;
  max-height: 2em;
  width: 100%;
  align-items: center;

}

.name {
  color: black;
}

.avatar {
  max-height: 2.5em;
  margin: 0.5em;
}
/* .tweets-container:hover{
  box-shadow: 5px 10px;
} */

.tweet {
  height: auto;
  padding: 0.75em;
  margin: 1em 0;
  border: 1px solid;
}

/* .user {
  display: flex;
  flex-direction: row;
  justify-content: left;
  color: black;
} */

.handle {
  color: gray;
}

.linebreak {
  width: auto;
  height: 2px;
  background-color: black;
}
.fa.fa-flag:hover, .fas.fa-heart:hover, .fas.fa-retweet:hover {
  color:darkgoldenrod;
}

footer {
  display: flex;
  flex-direction: row;
}

.footer-icons {
  margin-left: auto;
}