/*
This css class is used to style the tweet container form
*/

.tweets-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin:3em;
  width: 90%;
}

.user {
  display: flex;
  justify-content: space-between;

}

.user-details {
  display: flex;
  max-height: 2em;
  width: 100%;
  align-items: center;

}

.name {
  color: black;
}

.avatar {
  max-height: 2.5em;
  margin: 0.5em;
}
.tweet:hover{
  box-shadow: 5px 10px;
}

.tweet {
  height: auto;
  padding: 0.75em;
  margin: 1em 0;
  border: 1px solid;
  border-width: medium;
  width: 100%;
}

.mytweet {
  width: 100%;
  word-wrap: break-word;
}


.handle {
  color: gray;
  margin-bottom: 0px;
  padding-top: 0px;
  padding-bottom: 1px;
  margin-top: 1px;
}

.linebreak {
  width: auto;
  height: 2px;
  background-color: black;
}
.fa.fa-flag:hover, .fas.fa-heart:hover, .fas.fa-retweet:hover {
  color:darkgoldenrod;
}

footer {
  display: flex;
  flex-direction: row;
}

.footer-icons {
  margin-left: auto;
}